@model IEnumerable<MVC_CRUD_DiplomadoUASDCodeFirst.Model.Models.Inscripcion>

@{
    ViewBag.Title = "Lista de Inscripciones";
}

<h2>Lista de Inscripciones</h2>

<div class="row">
    <div class="col-sm-2">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
        @*
            <a class="btn btn-success" style="margin-bottom:10px" href="/Estudiantes/Create">
                Create New
            </a>
        *@

    </div>
</div>
<div class="col-sm-10">
    <input class="form-control" id="input_search" name="search" type="text" placeholder="busqueda..." />
</div>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Curso.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estudiante.Nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Semestre)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="table_body">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estudiante.Nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Semestre)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CursoID }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CursoID }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CursoID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*Realizar la busquedad del lado del cliente*@
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#input_search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table_body tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}
